<template>
  <div>
    <CRow>
      <CCol sm="12">
        <template>
          <CCard>
            <CCardHeader style="display:none">
              <CRow>
                <CCol sm="4">
                  <CButton color="primary" @click="addCandidate()"
                    >Add Candidate</CButton
                  >
                </CCol>
                <CCol sm="4"></CCol>
                <CCol sm="4" class="text-right">
                  <CButton @click="filterModal = true" size="sm"
                    ><CIcon name="cil-settings" size="xl"></CIcon
                  ></CButton>
                </CCol>
              </CRow>
            </CCardHeader>
            <CCardBody>
              <CDataTable
                :items="items"
                :fields="selectedFields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              >
              <template #status="{ item }">
                  <td>
                    <CRow align-vertical="center">
                      <CCol col="12" align="left">
                        Theory Test
                        <CBadge
                          :color="
                            item.candidateTestAttemptId ? 'info' : 'secondary'
                          "
                          >{{
                            item.candidateTestAttemptId
                              ? "Started"
                              : "Not Started"
                          }}</CBadge
                        >
                      </CCol>
                      <CCol col="12" align="left">
                        Viva Test
                        <CBadge
                          :color="
                            item.assessortAttemptId ? 'info' : 'secondary'
                          "
                          >{{
                            item.assessorTestAttemptId
                              ? "Started"
                              : "Not Started"
                          }}</CBadge
                        >
                      </CCol>
                    </CRow>
                  </td>
                </template>
                <template #candidate_test_videos="{ item }">
                  <td class="py-2">
                    <CLink
                      target="_blank"
                      :to="{
                        name: 'ProctoredVideos',
                        query: { ...item, label: 'candidate' },
                      }"
                      class="text-success"
                    >
                      <CIcon
                        v-c-tooltip="{
                          content: 'Theory Test Videos',
                          placement: 'top',
                        }"
                        size="custom-size"
                        :height="25"
                        name="cilVideo"
                      />
                    </CLink>
                  </td>
                </template>
                <template #assessor_test_videos="{ item }">
                  <td class="py-2">
                    <CLink
                      target="_blank"
                      :to="{
                        name: 'ProctoredVideos',
                        query: { ...item, label: 'assessor' },
                      }"
                      class="text-danger"
                    >
                      <CIcon
                        v-c-tooltip="{
                          content: 'Viva Test Videos',
                          placement: 'top',
                        }"
                        size="custom-size"
                        :height="25"
                        name="cilVideo"
                      />
                    </CLink>
                  </td>
                </template>
                <template  #show_details="{ item, index }">
                 <td  class="py-2">
                    <CLink @click="toggleDetails(item, index)" color="primary">
                      <CIcon
                        v-if="!Boolean(item._toggled)"
                        v-c-tooltip="{
                          content: 'Click to Edit',
                          placement: 'left',
                        }"
                        size="custom-size"
                        :height="25"
                        name="cilPencil"
                      />
                      <CIcon
                        v-else
                        name="cilXCircle"
                        size="custom-size"
                        :height="25"
                      />
                    </CLink>
                  </td>
                </template>
                 <template #details="{ item }">
                  <CCollapse
                    :show="Boolean(item._toggled)"
                    :duration="collapseDuration"
                  >
                    <CCardBody>
                      <CButton
                        size="sm"
                        color="primary"
                        @click="editCandidate(item)"
                        class="ml-1"
                        >Edit</CButton
                      >

                      <CButton
                        size="sm"
                        color="danger"
                        @click="deleteCandidate(item.candidateId)"
                        class="ml-1"
                        >Delete</CButton
                      >
                    </CCardBody>
                  </CCollapse>
                </template>
                <template #start_assessor_test="{ item }">
                  <td class="py-2">
                    <CLink @click="startTest(item)" class="text-info">
                      <CIcon
                        v-c-tooltip="{
                          content: 'Start Viva',
                          placement: 'top',
                        }"
                        name="cilMediaPlay"
                        size="custom-size"
                        :height="25"
                      />
                    </CLink>
                  </td>
                </template>
              </CDataTable>
            </CCardBody>
          </CCard>
        </template>
      </CCol>
    </CRow>
    <CModal :title="modalTitle" size="lg" :show.sync="showCandidateModal">
      <CForm
        ref="addEditCandidate"
        @submit.prevent="addEditCandidate()"
        wasValidated
      >
        <CRow>
          <CCol col="8">
            <CInput
              label="Candidate Name"
              required
              v-model="candidateName"
              placeholder="Enter Name"
            />
          </CCol>

          <CCol col="8">
            <CInput
              label="Father's Name"
              required
              v-model="fatherName"
              placeholder="Enter Father's Name"
            />
          </CCol>
          <CCol col="6">
            <CSelect
              label="Gender"
              required
              v-model="gender"
              :options="[
                { value: 'male', label: 'Male' },
                { value: 'female', label: 'Female' },
              ]"
              placeholder="Select Gender"
            />
          </CCol>
          <CCol col="6">
            <CInput label="Date of Birth" required v-model="dob" type="Date" />
          </CCol>
          <CCol col="6">
            <CInput
              label="Email"
              required
              v-model="email"
              type="email"
              placeholder="Enter Email"
            />
          </CCol>
          <CCol col="6">
            <CInput
              label="Mobile No"
              required
              type="tel"
              pattern="[0-9]{10}"
              v-model="mobile"
              placeholder="Enter Mobile No"
            />
          </CCol>
          <CCol col="8">
            <CInput
              label="Adhaar Card No"
              v-model="adhaar"
              placeholder="Enter Adhaar Card No"
            />
          </CCol>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success">{{
              modalTitle
            }}</CButton>
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>
    <CModal :show.sync="filterModal">
      <div slot="header">
        <p class="text-muted">
          Select columns which you want to display in table
        </p>
      </div>
      <CRow>
        <template v-for="col in fields">
          <CCol sm="4" :key="col.key" v-if="col.label !== ''">
            <CInputCheckbox :checked.sync="col.checked" :label="col.label" />
          </CCol>
        </template>
      </CRow>
    </CModal>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../mixins/HttpCommon";
import { localDb } from "../../mixins/localDb";
const items = [{}];
var fields = [
  {
    key: "candidateName",
    label: "Candidate Name",
    _style: "width:20%",
    checked: true,
  },
  {
    key: "email",
    label: "Candidate Email",
    _style: "width:20%;",
    checked: false,
  },
  { key: "mobile", label: "Mobile", _style: "width:20%;", checked: true },
  {
    key: "fatherName",
    label: "Father Name",
    _style: "width:20%;",
    checked: true,
  },
  {
    key: "dob",
    label: "D.O.B",
    _style: "width:20%;",
    checked: true,
  },
  {
    key: "gender",
    label: "Gender",
    _style: "width:20%;",
    checked: false,
  },
  {
    key: "candidateTestAttemptId",
    label: "Therory attempt",
    _style: "width:20%;",
    checked: false,
  },
  {
    key: "assessorTestAttemptId",
    label: "Viva attempt",
    _style: "width:20%;",
    checked: false,
  },
  { key: "status", label: "Status", _style: "width:22%;", checked: true },
  {
    key: "candidateScore",
    label: "Theory Test Score",
    _style: "width:20%;",
    checked: false,
  },
  {
    key: "assessorScore",
    label: "Viva Test Score",
    _style: "width:20%;",
    checked: false,
  },
  {
    key: "candidate_test_videos",
    label: "",
    _style: "width:1%",
    sorter: false,
    filter: false,
  },
  {
    key: "assessor_test_videos",
    label: "",
    _style: "width:1%",
    sorter: false,
    filter: false,
  },
  {
    key: "start_assessor_test",
    label: "",
    _style: "width:1%",
    sorter: false,
    filter: false,
  },

];
export default {
  name: "CandidateList",
  mixins: [ajaxCallMixin, localDb],
  beforeMount() {
    this.getToken();
    this.getCandidateList();
  },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      details: [],
      collapseDuration: 0,
      showCandidateModal: false,
      candidateId: "",
      candidateName: "",
      email: "",
      modalTitle: "",
      dob: "",
      fatherName: "",
      mobile: "",
      gender: "",
      adhaar: "",
      disabled: false,
      filterModal: false,
    };
  },
  computed: {
    selectedFields() {
      let selectedFields = this.fields.filter((col) => {
        if (col.checked || col.label === "") {
          return col;
        }
      });
      return selectedFields;
    },
  },
  methods: {
    getBadge(status) {
      switch (status) {
        case "Active":
          return "success";
        case "Inactive":
          return "secondary";
        case "Pending":
          return "warning";
        case "Banned":
          return "danger";
        default:
          "primary";
      }
    },

    generateCandidateList(apiResponse) {
      if (apiResponse.error != true) {
        this.items = apiResponse.data.candidateList.map((item, id) => {
          return { ...item, id };
        });
      }
    },
    getCandidateList() {
      var param = {};
      var eventId = this.$route.params.eventId;
      var data = { eventId: eventId };
      var url = "event/event/getEventCandidateList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCandidateList);
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    },
    addCandidate() {
      this.candidateName = "";
      this.fatherName = "";
      this.dob = "";
      this.email = "";
      this.gender = "";
      this.mobile = "";
      this.adhaar = "";
      this.modalTitle = "Add Candidate";
      this.showCandidateModal = true;
    },
    editCandidate(item) {
      this.candidateName = item.candidateName;
      this.candidateId = item.candidateId;
      this.fatherName = item.fatherName;
      this.dob = item.dob;
      this.email = item.email;
      this.gender = item.gender;
      this.mobile = item.mobile;
      this.adhaar = item.adhaar;
      this.modalTitle = "Edit Candidate";
      this.showCandidateModal = true;
    },
    addEditCandidate() {
      var param = {};
      var eventId = this.$route.params.eventId;
      var data = { eventId: eventId };
      data.candidateId = this.candidateId;
      data.candidateName = this.candidateName;
      data.fatherName = this.fatherName;
      data.dob = this.dob;
      data.email = this.email;
      data.mobile = this.mobile;
      data.gender = this.getSelectedValues(this.gender);
      data.adhaar = this.adhaar;
      var url = "event/event/addEditCandidateDetails";
      param.data = data;
      this.disabled = true;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callBackAddEdit);
    },
    callBackAddEdit(apiResponse) {
      if (apiResponse.error !== true) {
        this.showCandidateModal = false;
        this.disabled = false;
        this.getCandidateList();
      }
    },
    deleteCandidate(candidateId) {
      var param = {};
      var eventId = this.$route.params.eventId;
      var data = { eventId: eventId, candidateId: candidateId };
      var url = "event/event/deleteEventCandidate";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callBackDelete);
    },
    callBackDelete(apiResponse) {
      if (apiResponse.error !== true) {
        this.getCandidateList();
      }
    },
    startTest(item) {
      var autoLoginKey = window.btoa(JSON.stringify(item.assessorLogins));
      window.open("https://test.conicskill.com/autologin/" + autoLoginKey);
    },
  },
};
</script>
