<template>
     <CRow>
        <CCol col=6>
          <CCard>
    <CCardHeader>
      <slot name="header"> <CIcon name="cil-grid" />Upcoming Event List </slot>
    </CCardHeader>
    <CCardBody>
            <CDataTable
        hover                                                                              
        :items="this.upcomingEventList"
        :fields="getEventListHeaders()"
        :items-per-page="10"
      >
        <template #showCandidate="{ item }">
          <td class="py-2">
            <!--CButton
            color="primary"
            variant="outline"
            square
            size="sm"
            @click="showCandidateList(item, index)"
          >Show Candidates
            </CButton-->
            <CLink @click="showCandidateList(item)" class="text-info">
              <CIcon
                v-c-tooltip="{
                  content: 'Click to view candidates List',
                  placement: 'top',
                }"
                name="cil-people"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
    
      </CDataTable>
       </CCardBody>
  </CCard>
        </CCol>
        <CCol col= 6>
          <CCard>
    <CCardHeader>
      <slot name="header"> <CIcon name="cil-grid" />Past Event List </slot>
    </CCardHeader>
    <CCardBody>
   
      <CDataTable
        hover                                                                              
        :items="this.pastEventList"
        :fields="getEventListHeaders()"
        :items-per-page="10"
      >
        <template #showCandidate="{ item }">
          <td class="py-2">
            <!--CButton
            color="primary"
            variant="outline"
            square
            size="sm"
            @click="showCandidateList(item, index)"
          >Show Candidates
            </CButton-->
            <CLink @click="showCandidateList(item)" class="text-info">
              <CIcon
                v-c-tooltip="{
                  content: 'Click to view candidates List',
                  placement: 'top',
                }"
                name="cil-people"
                size="custom-size"
                :height="25"
              />
            </CLink>
          </td>
        </template>
    
      </CDataTable>
       </CCardBody>
  </CCard>
        </CCol>
       
      </CRow>
      <!-- <CPagination
        :activePage.sync="page"
        :pages="pages"
        size="small"
        @update:activePage="pageChanged()"
        align="start"
      /> -->
   
</template>

  
<script>
import { ajaxCallMixin } from "../../mixins/HttpCommon";
import { localDb } from "../../mixins/localDb";

export default {
  name: "EventList",
  beforeMount() {
    this.getEventList();
  },
  data() {
    return {
      pastEventList: [],
      upcomingEventList: [],
      page: 1,
      pages: 1,
    };
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
    getEventListHeaders() {
      return [
        "eventName",
        "eventDate",
        { key: "showCandidate", label: "",_style: "width:1%", filter: false },
      ];
    },
    generateEventList(apiResponse) {
      if (apiResponse.error != true) {
        this.pastEventList = apiResponse.data.pastEventList;
        this.upcomingEventList = apiResponse.data.upcomingEventList;
      }
    },
    getEventList(offset = 0) {
      var param = {};
      param.token = this.getToken();
      var data = {};
      data.offset = offset;
      data.limit = 10;
      var url = "assessor/event/getAssessorEventList";
      param.data = data;
      this.ajaxCall(url, param, this.generateEventList);
    },
    showCandidateList(item) {
      this.$router.push("/candidates/" + item.eventId);
    },
    showDocuments(item) {
      this.$router.push("/documents/" + item.eventId);
    },
    downloadResult(item) {
      var param = {};
      var eventId = item.eventId;
      var data = {};
      data.eventId = eventId;
      var url = "event/result/downloadEventResult";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callBackDownloadResult);
    },
    callBackDownloadResult(apiResponse) {
      if (apiResponse.error !== true) {
        let downloadUrl = apiResponse.data;
        let a = document.createElement("a");
        if (typeof a.download === "undefined") {
          window.location.href = downloadUrl;
        } else {
          a.href = downloadUrl;
          document.body.appendChild(a);
          a.click();
        }
      }
    },
    getLoginExcel(item) {
      var param = {};
      var eventId = item.eventId;
      var data = {};
      data.eventId = eventId;
      var url = "event/event/getEventLoginExcel";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.downloadLoginExcel);
    },
    downloadLoginExcel(apiResponse) {
      if (apiResponse.error !== true) {
        let downloadUrl = apiResponse.data.candidateList;
        let a = document.createElement("a");
        if (typeof a.download === "undefined") {
          window.location.href = downloadUrl;
        } else {
          a.href = downloadUrl;
          document.body.appendChild(a);
          a.click();
        }
      }
    },
    editEvent(eventId) {
      this.$router.push("/addEvent/" + eventId);
    },
    pageChanged() {
      var offset = 10 * (this.page - 1);
      this.getEventList(offset);
    },
  },
};
</script>