<template>
  <div class="c-app">
    <CWrapper>
      <Header :start="startTimer" @stop="stopTimer=true"/>
      <div class="c-body">
        <main class="c-main">
          <CContainer fluid>
            <transition name="fade">
              <router-view @toggleTimer="startTimer = $event" :examTimeOver="stopTimer"></router-view>
            </transition>
          </CContainer>
        </main>
        <!--Footer v-if="show" :start="examStart"/-->
      </div>
    </CWrapper>
  </div>
</template>

<script>
import Header from '@/components/Header'
//import Footer from '@/components/Footer'

export default {
  name: "Container",
  components: {
    Header,
    //Footer
  },
  data() {
    return {
      startTimer: false,
      stopTimer: false
    }
  }
}
</script>

<style>

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

</style>