<template>
  <CFooter  class="text-center">
        <CRow class="justify-content-center flex-grow-1">
            <CCol sm="12" lg="3" class="d-flex">
                <CButton  color="success" class="flex-grow-1" @click="examStart">
                    <CIcon name="cil-check"/> Start
                </CButton>
            </CCol>
        </CRow>
    </CFooter>  
</template>

<script>

export default {
    name: "Footer",
    props:{
        examStart:Function
    }
}

</script>