<template>
  <div class="login-bgd">
    <CContainer class="d-flex min-vh-100">
      <CRow alignVertical="center" alignHorizontal="center" class="flex-grow-1">
        <CCol sm="4" lg="5">
          <CAlert color="danger" :show.sync="currentAlertCounter" closeButton>
            Incorrect credentials please check.
            <!--CProgress
              :max="10"
              :value="currentAlertCounter"
              height="3px"
              color="danger"
              animate
            /-->
          </CAlert>
          <CCard>
            <CCardBody>
              <CForm>
                <div class="text-center">
                  <h1>Welcome Back</h1>
                  <p class="text-muted">Sign In to your account</p>
                </div>
                <CInput
                  id="username"
                  placeholder="Username"
                  autocomplete="username email"
                  v-model="username"
                >
                  <template #prepend-content>
                    <CIcon name="cil-user" />
                  </template>
                </CInput>
                <CInput
                  id="password"
                  placeholder="Password"
                  type="password"
                  v-model="password"
                >
                  <template #prepend-content>
                    <CIcon name="cil-lock-locked" />
                  </template>
                </CInput>
                <CCol col="12" class="text-center">
                  <CButton @click="loginUser" color="primary" class="px-4"
                    >Get Started</CButton
                  >
                </CCol>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import { ajaxCallMixin } from "@/mixins/HttpCommon";
import { localDb } from "@/mixins/localDb";

export default {
  name: "Login",
  mixins: [ajaxCallMixin, localDb],
  data() {
    return {
      username: "",
      password: "",
      currentAlertCounter: 0,
    };
  },
  beforeMount() {},
  methods: {
    loginUser() {
      var data = {};
      data.username = this.username;
      data.password = this.password;
      var url = "/authenticator/Auth/loginAssessor";
      var params = {};
      params.data = data;
      this.ajaxCall(url, params, this.saveLoginUser);
    },
    saveLoginUser: function(apiResponse) {
      if (apiResponse.error != true) {
        var userData = apiResponse.data;
        this.currentAlertCounter = 0;
        this.save("loginUser", userData);
        this.save("assessorToken", userData.assessorToken);
        this.save("assessorTokenExpiry", userData.expiryTime);
        this.$router.push("/eventList");
      } else {
        this.currentAlertCounter = 10;
      }
    },
  },
};
</script>

<style scoped>
.login-bgd {
  background-image: url("../assets/images/csbgd.png");
  background-size: cover;
}
</style>
